/* CSS file for table dialog in the table plugin */

.panel_wrapper div.current {
	height: 480px;
}
#banglavkbtab2_panel,#banglavkbtab1_panel{
	height:480px;
} 
.advfield {
	width: 200px;
}

#class {
	width: 150px;
}